$textcolor: #898989;
$bordercolor: #474747;
$titlecolor: #eeeeee;
$backgroundcolor: #212121;

.footer_all {
	background: $backgroundcolor;
}
.form {
	&_title {
		text-transform: uppercase;
		color: $titlecolor;
		font-size: 22px;
		line-height: 26px;
		padding-top: 80px;
	}
	&_text {
		color: $textcolor;
		font-size: 14px;
		line-height: 25px;
		padding-top: 35px;
	}
	&_coctacts {
		&_email {
			background-color: transparent;
			padding-top: 40px;
			width: 198px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $bordercolor;
			color: $textcolor;
			margin-right: 32px;
			&:focus {
				outline: none;
			}
			&[placeholder] {
				font-size: 12px;
				line-height: 16px;
				color: $textcolor;
				padding-bottom: 5px;
				font-weight: bold;
			}

		}
		&_subject {
			background-color: transparent;
			padding-top: 40px;
			width: 198px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $bordercolor;
			color: $textcolor;
			&:focus {
				outline: none;
			}
			&[placeholder] {
				font-size: 12px;
				line-height: 16px;
				color: $textcolor;
				padding-bottom: 5px;
				font-weight: bold;
			}

		}
		&_mmessage {
			background-color: transparent;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $bordercolor;
			height: 22px;
			margin-top: 22px;
			resize: none;
			width: 431px;
			@include respond-to(xs) {
				width: 100%;
			} 
			&:focus {
					outline: none;
				}
			&[placeholder] {
				font-size: 14px;
				line-height: 16px;
				color: $textcolor;
				overflow: hidden;
				font-weight: bold;
			}
		}
		&_buttonblock {
			padding-top: 90px;
		}
		&_submit {
			background: transparent;
			border: none;
			cursor: pointer;
			&[value] {
				color:$textcolor;
				font-size: 12px;
				line-height: 16px;
				font-weight: bold;
				padding-left: 0px;
			}
			&:focus {
					outline: none;
			}
		}
		.fa-play {	
			color:$textcolor;
			cursor: pointer;
			font-size: 11px;

		}
	}
}
.underline {
	border-bottom: 1px solid $bordercolor;
	width: 100%;
	padding-top: 14px;
}
.links {
	&_title {
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: $titlecolor;
		padding-top: 87px;
		padding-bottom: 35px;
	}
	&_item {
		color: $textcolor;
		font-size: 14px;
		line-height: 25px;
		text-decoration: none;
		text-transform: capitalize;
	}
}
.friends {
	&_title {
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: $titlecolor;
		padding-top: 87px;
		padding-bottom: 35px;
	}
	&_item {
		color: $textcolor;
		font-size: 14px;
		line-height: 25px;
		text-decoration: none;
		text-transform: capitalize;
	}
}
.social {
	&_title {
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: $titlecolor;
		padding-top: 87px;
		padding-bottom: 35px;
	}
	&_item {
		color: $textcolor;
		font-size: 14px;
		line-height: 25px;
		text-decoration: none;
		text-transform: capitalize;
	}
}
.footer {
	padding-top: 35px;
	padding-bottom: 40px;
	@include respond-to(xs) {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	&__info {
		color: $textcolor;
		font-size: 14px;
		line-height: 25px;
	}
	&__menu {
		padding-top: 50px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		@include respond-to(md) {
			justify-content: flex-start;
			padding-top: 20px;
			padding-bottom: 50px;	
		}
		@include respond-to(xs) {
			justify-content: space-between;
			padding-top: 20px;
			padding-bottom: 50px;
		}
		&_item {
			color: $textcolor;
			font-size: 14px;
			line-height: 25px;
			text-transform: uppercase;
			text-decoration: none;
			padding-left: 30px;
			@include respond-to(md) {
				padding-right: 20px;
				padding-left: 0;
			}
			@include respond-to(xs) {
				padding-right: 10px;
				padding-left: 0;
			}
		}
	}
} 
