doctype
html(lang='en')
	head
		title Document
		include ./base/_head.jade
body
	include ./layout/_header.jade
	include ./layout/_about.jade
	include ./layout/_articles.jade
	include ./layout/_clients.jade
	include ./layout/_portfolio.jade
	include ./layout/_quote.jade
	include ./layout/_teamMembers.jade
	include ./layout/_factsNumber.jade
	include ./layout/_gallery.jade
	include ./layout/_events_opinion.jade
	include ./layout/_footer.jade

	script(src="../js/jquery/jquery-3.2.0.js")
	script(src="../js/lightslider/lightslider.js")
	script(src="../js/events_slider.js")
	script(src="../js/main.js")
