.about
	.container
		.row
			.col-xs-12
				span.about__broccoli
				h2.about__title Who & Why
				p.about__info The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the evening. But Gregor found it easy to give up having the door open, he had, after all, often failed to make use of it when it was open and, without the family having noticed it, lain in his room in its darkest corner. One time, though, the charwoman left the door.
.advantages
	.container
		.row
			.col-xs-12.col-md-4
				.advantages__first
					span.advantages__first-img
					h3.advantages__title An Wow Feature
					p.advantages__first-text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			.col-xs-12.col-md-4
				.advantages__second
					span.advantages__second-img
					h3.advantages__title A Beautiful Feature
					p.advantages__second-text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
			.col-xs-12.col-md-4
				.advantages__third
					span.advantages__third-img
					h3.advantages__title An Amazing Feature
					p.advantages__third-text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
