.articles
	.container
		.row
			.articles__main.clearfix
				.col-xs-12.col-md-8.col-md-offset-2
					h3.articles__mainTitle Featured Articles
					p.articles__main-text The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the  
			.articles__wrapper
				ul#writers
					li
						.articles__article
							h4.articles__title Comic
							p.articles__text A million ways to die in the wild wild wild west
							.articles__writer
								img.articles__foto(src="../img/jefferson.jpg", alt="")
								p.articles__author.articles__jefferson jimmy jefferson
									span.articles__date 21/08/2013
					li
						.articles__article
							h4.articles__title Lifestyle
							p.articles__text The most comfortable chair comes with no backpain
							.articles__writer
								img.articles__foto(src="../img/gitierrez.jpg", alt="")
								p.articles__author.articles__gitierrez Gail Gutierrez
									span.articles__date 21/08/2013
					li
						.articles__article
							h4.articles__title Travel
							p.articles__text journey to the center of the earth with jefferson
							.articles__writer
								img.articles__foto(src="../img/johnston.jpg", alt="")
								p.articles__author.articles__johnston mason johnston
									span.articles__date 21/08/2013
					li
						.articles__article
							h4.articles__title Travel
							p.articles__text journey to the center of the earth with jefferson
							.articles__writer
								img.articles__foto(src="../img/johnston.jpg", alt="")
								p.articles__author.articles__johnston mason johnston
									span.articles__date 21/08/2013
				#articles__slider-prev
					i.fa.fa-chevron-left
				#articles__slider-next
					i.fa.fa-chevron-right
//- Articles