.clients
	.container
		.row
			.col-xs-12
				p.clients__heading
					| Client
			.col-xs-12.col-md-10.col-md-offset-1
				ul#clients-slider
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_first.png", alt="first-slide").clients-slider__img
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_second.png", alt="second-slide").clients-slider__img
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_third.png", alt="third-slide").clients-slider__img
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_fourth.png", alt="fourth-slide").clients-slider__img
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_fifth.png", alt="fifth-slide").clients-slider__img
					li.clients-slider__item
						a(href="#").clients-slider__link
							img(src="../img/clients_sixth.png", alt="sixth-slide").clients-slider__img
				#clients-slider__prevSlide
					i.fa.fa-chevron-left(aria-hidden="true")
				#clients-slider__nextSlide
					i.fa.fa-chevron-right(aria-hidden="true")

// Clients
