section.main_eventsslider
	.container
		.slider_wrapper
			ul#eventsslider
				li.me_item.col-lg-4
					.eventcard
						p.eventcard_title Another Day In Paradise
						p.eventcard_date Travel / 21st March, 2014
				li.me_item.col-lg-4
					.eventcard
						p.eventcard_title Jimmy’s New Book on Aliens
						p.eventcard_date Travel / 21st March, 2014
				li.me_item.col-lg-4
					.eventcard
						p.eventcard_title Sarah’s New House
						p.eventcard_date Travel / 21st March, 2014
				li.me_item.col-lg-4
					.eventcard
						p.eventcard_title Another Day In Paradise
						p.eventcard_date Travel / 21st March, 2014
			#events-slider__prevSlide.events-slider__prevSlide
				i.fa.fa-chevron-left.events-chevron-left(aria-hidden="true")
			#events-slider__nextSlide.events-slider__nextSlide
				i.fa.fa-chevron-right.events-chevron-right(aria-hidden="true")
section
	.container
		article.opinion
			.opinion_social
				i.fa.fa-twitter.opinion_social_twitter(aria-hidden="true")
			.opinion_image
				img(src="../img/eventsavatar.png", alt="profile photo")
			.opinion_quote
				p 
					|Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every 
					br
					|minute with love, grace & gratitude.
			.opinion_signature
				p @loveless
