.factsNumbers
	.container
		.row
			.col-xs-12
				h2.factsNumbers__heading Facts & Numbers
				ul.projects
					li.projects__windows
						span.projects__numbers 87
						p.projects__info succesful projects
					li.projects__windows
						span.projects__numbers 25
						p.projects__info awesome clients
					li.projects__windows
						span.projects__numbers 30
						p.projects__info open sourse plugins
					li.projects__windows
						span.projects__numbers 13
						p.projects__info open sourse themes