footer.footer_all
	.container
		.row
			.col-lg-6
				.form
					h3.form_title unicorn
					p.form_text 
						|One morning, when Gregor Samsa woke from troubled dreams, he found 
						br
						|himself transformed in his bed into a horrible vermin. He lay on his 
					form.form_coctacts
						p
							input.form_coctacts_email(type="email" placeholder="EMAIL")
							input.form_coctacts_subject(type="text" placeholder="SUBJECT")
						p
							textarea.form_coctacts_mmessage(placeholder="MESSAGE")
						p.form_coctacts_buttonblock
							label
								input.form_coctacts_submit(type="submit" value="SEND" )
								i.fa.fa-play

			.col-lg-6
				.col-lg-4.col-xs-4
					.links
						h3.links_title links
						ul
							li 
								a(href="").links_item home
							li 
								a(href="").links_item about
							li 
								a(href="").links_item services
							li
								a(href="#").links_item menu
							li
								a(href="#").links_item restaurants
							li
								a(href="#").links_item work hours
							li
								a(href="#").links_item call hours
				.col-lg-4.col-xs-4
					.friends
						h3.friends_title friends
						ul
							li
								a(href="#").friends_item home
							li
								a(href="#").friends_item about
							li
								a(href="#").friends_item services
							li
								a(href="#").friends_item restaurants
							li
								a(href="#").friends_item menu
				.col-lg-4.col-xs-4
					.social
						h3.social_title social
						ul
							li
								a(href="#").social_item facebook
							li
								a(href="#").social_item twitter
							li
								a(href="#").social_item github
							li
								a(href="#").social_item pinterest
							li
								a(href="#").social_item google plus
							li
								a(href="#").social_item dribble
							li
								a(href="#").social_item flickr
							li
								a(href="#").social_item others
			.col-lg-12
				.underline
		.row
			.col-lg-6
				.footer
					p.footer__info One morning, when Gregor Samsa woke from troubled dreams, he found 
					p.footer__info © 2015 Your Awesome Company
			.col-lg-6
				ul.footer__menu
					li
						a(href="#").footer__menu_item terms
					li
						a(href="#").footer__menu_item privacy policy
					li
						a(href="#").footer__menu_item contact
					li
						a(href="#").footer__menu_item job
