.gallery
	.container
		.row
			ul
				li.col-md-6.col-sm-12.gallery__list
					.text
						span.text__present Travel / 21st March, 2014
						h3.text__heading A New Product Is Coming
						p.text__info The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				li.col-md-6.col-sm-12.gallery__list
					a(href="#").gallery__image
						img(src="../img/Unicorn_gallery1.jpg" alt="gallery1")
				li.col-md-6.col-sm-12.gallery__list
					a(href="#").gallery__image
						img(src="../img/Unicorn_gallery2.jpg" alt="gallery2")
				li.col-md-6.col-sm-12.gallery__list
					.text
						span.text__present Gadget / 3rd March, 2014
						h3.text__heading Jimmy’s New Xbox Controller
						p.text__info The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				li.col-md-6.col-sm-12.gallery__list
					.text
						span.text__present Travel / 21st March, 2014
						h3.text__heading A New Product Is Coming
						p.text__info The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
				li.col-md-6.col-sm-12.gallery__list
					a(href="#").gallery__image
						img(src="../img/Unicorn_gallery3.jpg" alt="gallery3")