header(class="header")
	.container
		.row
			.col-xs-2
				span(class="header__logo") UNICORN
			.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-4.col-lg-4.col-lg-offset-6
				nav.header__navbar.clearfix
					ul.navbar
						li.navbar__item
							a.navbar__link(href="#") Home
						li.navbar__item
							a.navbar__link(href="#") About
						li.navbar__item
							a.navbar__link(href="#") Stories
						li.navbar__item
							a.navbar__link(href="#") Hello
						span.hidden-span
					a.hamburger(href="#")
						i.fa.fa-bars
			.col-xs-12.history.clearfix
				h1.history__heading Storyteller
				hr.history__underline
				p.history__text One morning, when Gregor Samsa woke from troubled dreams, he found
					br
					| himself transformed in his bed into a horrible vermin. He lay on his ar-
					br
					| mour-like back, and if he lifted his head a little he could see his brown
					br
					| belly, slightly domed and divided by arches into stiff sections.
				a(href="#").history__btn read the rest
