.portfolio
	.container
		.row
			.col-xs-12.col-md-10.col-md-offset-1
				h4.portfolio__heading
					| Portfolio & Screenshots
				p.portfolio__subtext
					| The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was
					br
					| used by everyone, and so the door to this room was often kept closed in the
			.col-xs-12.col-md-8.col-md-offset-2
				.portfolio__navigation
					menu.navigation-info
						li.navigation-info__item
							a(href="#").navigation-info__link
								| Art
						li.navigation-info__item
							a(href="#").navigation-info__link
								| Mystery
						li.navigation-info__item
							a(href="#").navigation-info__link
								| Illusion
						li.navigation-info__item
							a(href="#").navigation-info__link
								| Travel
						li.navigation-info__item
							a(href="#").navigation-info__link
								| Paintings
	.portfolio__gallery
		ul#gallery-slider
			li.gallery-slider__item
				a(href="#").gallery-slider__link
					img(src="../img/gallery-slide_first.jpg", alt="first_slide").gallery-slider__img
			li.gallery-slider__item
				a(href="#").gallery-slider__link
					img(src="../img/gallery-slide_second.jpg", alt="second_slide").gallery-slider__img
			li.gallery-slider__item
				a(href="#").gallery-slider__link
					img(src="../img/gallery-slide_third.jpg", alt="third_slide").gallery-slider__img

// Portfolio
