.quote
	.container
		.row
			.col-xs-12.col-md-10.col-md-offset-1
				.quote-envelope
					i.fa.fa-quote-right
					p.quote-envelope__substance
						| Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
					i.quote-envelope__author
						| Denis Waitley
// Quote
