.teamMembers
	.container
		.row
			.col-xs-12
				h2.teamMembers__heading Team Members
				p.teamMembers__info The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was 
					br
					| used by everyone, and so the door to this room was often kept closed in the
			.col-sm-3.col-xs-6
				img.teamMembers__photo(src="../img/Unicorn_people4.jpg" alt="people1")
				b.teamMembers__names Evgeniy
				span.teamMembers__works Team Lead
			.col-sm-3.col-xs-6
				img.teamMembers__photo(src="../img/Unicorn_people2.jpg" alt="people2")
				b.teamMembers__names Sergey
				span.teamMembers__works Javascript Guru
			.col-sm-3.col-xs-6
				img.teamMembers__photo(src="../img/Unicorn_people3.jpg" alt="people3")
				b.teamMembers__names Denis
				span.teamMembers__works Frontend Developer
			.col-sm-3.col-xs-6
				img.teamMembers__photo(src="../img/Unicorn_people1.jpg" alt="people4")
				b.teamMembers__names Viktor
				span.teamMembers__works Frontend Developer